:root{
    --primary: linear-gradient(#0165bb, #012861);
    --btn-bg: #0165bb;
}

* {
    padding: 0;
    margin: 0;
}

button,
a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    text-decoration: none;
}

ul li {
    list-style: none;
}

p {
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

body {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.section__title-outer {
    max-width: 800px;
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
}
.section__title {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
}
.section__title:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background: var(--primary);
    bottom: 0;
    left: 50%;
    margin-left: -54px;
    z-index: 1;
}
.section__title:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background: var(--primary);
    bottom: 0;
    left: 50%;
    margin-left: 5px;
    z-index: 1;
}
.section__text {
    color: #666666;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
/*common css End*/

/*Banner section css start*/
.banner-section {
    padding-top: 150px;
    padding-bottom: 50px;
    background: url(../img/bg4.jpg);
    text-align: center;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.banner-section:after {
    content: "";
    position: absolute;
    background: #000;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.banner-content-wrapper .banner-title {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 10px;
}

.banner-content-wrapper .banner-item {
    display: inline-block;
    background: transparent;
    margin: 0;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
}

.banner-content-wrapper .banner-item li {
    display: inline-block;
    font-weight: 600;
}

.banner-content-wrapper .banner-item li a {
    color: #ffffff;
}

.banner-content-wrapper .banner-item:after {
    content: "";
    background: #000000;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 5px;
    z-index: -1;
    opacity: 0.6;
}

.banner-content-wrapper .banner-item li:before {
    content: "\f111";
    font-size: 10px;
    font-weight: 500;
    color: var(--btn-bg);
    font-family: "Font Awesome 5 Free";
    padding: 0 10px;
    position: relative;
    top: -2px;
}

.banner-content-wrapper .banner-item li:first-child::before {
    content: '';
    padding: 0;
}

.banner-content-wrapper .banner-item li a i {
    color: var(--btn-bg);
    margin-right: 5px;
}

.banner-content-wrapper .banner-item li.active a {
    color: #ccc;
}
/*Banner section css End*/

/*Header section css start*/
.header-section {
    background: rgb(22 28 122 / 80%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
}

.header__top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
/*    padding: 5px 0;*/
}

.nav-toggle-btn {
    display: none;
}

.header__logo-outer {
    display: inline-block;
}

.header__logo-inner {
    max-width: 200px;
}

.header__top-info-list {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
}

.header__top-info-list-item {
    padding: 0 10px;
}

.header__top-info-list-item:last-child {
    padding: inherit;
}

.header__top-info-list-item-link {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
}

.header__top-info-list-item-link i {
    margin-right: 2px;
}

.header__top-info-list-item-link:hover {
    color: #0165bb;
}

.header__bottom-wrapper {
    border-top: 1px solid #ddd;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    height: 60px;
    margin-bottom: 0;
}

.submenu-list {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 80px;
    padding-left: 0;
    margin-bottom: 0;
    background: #fff;
    width: 260px;
    padding: 10px 0;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.submenu-list-item-link {
    display: block;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.submenu-list-item-link:hover {
    background: #ddd;
}

.nav-list-item.item-has-submenu:hover .submenu-list {
    top: 60px;
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
}

.megamenu-list {
    position: absolute;
    top: 150px;
    background: #fff;
    width: 100%;
    left: 0;
    z-index: 9;
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    visibility: hidden;
    opacity: 0; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;   
}

.megamenu-submenu-list {
    padding-left: 0;
    width: 380px;
}

.megamenu-submenu-list-item-link {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    padding: 10px;
}

.megamenu-submenu-list-item-link:hover {
    background: #ddd;
}

.megamenu-submenu-list-item {
    /* padding: 8px 0; */
}

.nav-list-item.item-has-megamenu:hover .megamenu-list {
    top: 124px;
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
}

.nav-list-item {
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-list-item-link {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-list-item.item-has-submenu {
    position: relative;
}

.header__search-form {
    position: relative;
}

.header__search-form input {
    width: 170px;
    background: transparent;
    height: 40px;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #0165bb;
}

.header__search-form input::placeholder {
    color: #fff;
    font-size: 12px;
}

.header__search-form input:focus-visible {
    outline: none;
}

.apply-btn-outer .nav-list-item-link {
    background: #0165bb;
    height: auto;
    padding: 7px 25px;
    text-transform: uppercase;
    border-radius: 30px;
}

.apply-btn-outer .nav-list-item-link:hover {
    color: #fff;
}
/*Header section css End*/

/*Home section css start*/
.home-slider-section {
    position: relative;
    z-index: 1;
    padding-top: 150px;
}

.home-slider-section .slide-video {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
}

.home-slider-section .slide-video video {
    min-width: 100%;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.home-slider-section:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.6;
}

.home__info-image-inner {
    height: 450px;
    max-width: 300px;
}

.home__info-image-outer {
    text-align: center;
}

.home__title-slide-wrapper .item {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.home__info-text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 24px;
}

.home__info-btn-inner {
    background: var(--primary);
    display: inline-block;
    padding: 10px 25px;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    margin-right: 10px;
}

.home__info-btn-inner:hover {
    color: #001632;
}
/*Home section css End*/

/*our feature section css start*/
.feature-section {
    padding: 50px 0px;
}
.feature__top-info-outer .sub-title {
    font-size: 18px;
    color: #666666;
    text-transform: uppercase;
}
.feature__top-info-outer .title {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 600;
    color: #000;
}
.feature__top-info-outer .description {    
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    line-height: 26px;
}
.feature-item-outer {    
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px #cccccc;
    margin-top: 20px;
    padding: 25px 30px;
    transition: all .3s ease;
    border-radius: 8px;
    background-color: #ffffff;
}
.feature__item-icon-outer {
    padding-right: 15px;
}
.feature__item-icon-outer i {
    color: #307ad5;
    display: flex;
    font-size: 80px;
    transition: all .3s ease;
}
.feature__item-info-title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.3;
    margin-bottom: 5px;
}
.feature__item-info-link {
    text-transform: uppercase;
    color: #666666;
    font-size: 14px;
    font-weight: 500;
}
.feature__right-wrapper {
    margin-bottom: 20px;
}
.feature__right-title{
    background: var(--primary);
    color: #ffffff;
    margin: 0;
    font-size: 20px;
    padding: 20px 30px;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 1.4;
}
.feature__right-items-wrap {
    background: #ffffff;
    box-shadow: 0 0 10px #cccccc;
    padding: 30px;
}
.feature__right-item-outer {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.feature__right-item-title {
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    color: #002147;
    line-height: 1.4;
    text-transform: capitalize;
    transition: all .3s ease;    
}
.feature__right-item-title:hover {
    color: var(--primary);
}
.feature__right-item-meta {
    color: #666666;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}
.feature__right-item-meta a {
    color: #0165bb;
    font-weight: 400;    
    font-size: 14px;
    text-transform: uppercase;
    transition: all .3s ease;
}
.feature__right-item-meta span {
    float: right;
}
.feature__right-item-more-btn-link {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #002147;
    font-weight: 600;
}
.feature__right-item-more-btn-link:hover{
    color: #ffb606
}
.feature__right-registration-title{
    background: var(--primary);
    color: #ffffff;
    margin: 0;
    font-size: 20px;
    padding: 20px 30px;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 1.4;
}
.feature__right-registration-form {
    padding: 30px;
    box-shadow: 0 0 10px #cccccc;
    background: #ffffff;
}
.feature__right-registration-form input {
    border: 1px solid #e7e7e7;
    min-height: 50px;
    margin-bottom: 20px;
}
.feature__right-registration-form textarea{
    margin-bottom: 20px;
}
.feature__right-register-btn {
    background: var(--primary);
    padding: 14px 25px;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}

.animate-label label {
    margin-bottom: 0;
    position: absolute;
    top: 13px;
    left: 14px;
    z-index: -1;
}
.animate-label .form-group {
    position: relative;
    z-index: 1;
}
.animate-label .form-group input,
.animate-label .form-group textarea {
    background: transparent;
}
.animate-label label {
    margin-bottom: 0;
    position: absolute;
    top: 12px;
    left: 14px;
    z-index: -1;
    padding: 1px 5px;
    font-size: 16px;
    -webkit-transition: .3s cubic-bezier(.25,.8,.5,1);
    transition: .3s cubic-bezier(.25,.8,.5,1);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation: v-shake .6s cubic-bezier(.25,.8,.5,1);
    animation: v-shake .6s cubic-bezier(.25,.8,.5,1);
}
@-webkit-keyframes v-shake {
    59% {
        margin-left: 0
    }
    60%,
    80% {
        margin-left: 2px
    }
    70%,
    90% {
        margin-left: -2px
    }
}
@keyframes v-shake {
    59% {
        margin-left: 0
    }
    60%,
    80% {
        margin-left: 2px
    }
    70%,
    90% {
        margin-left: -2px
    }
}
.animate-label .form-group {
    position: relative;
    z-index: 1;
}
.animate-label .form-group input,
.animate-label .form-group textarea {
    background: transparent;
}
.animate-label .form-group textarea:focus + label, 
.animate-label .form-group input:focus + label,
.animate-label textarea.filled + label, 
.animate-label input.filled + label {
    top: -11px;
    z-index: 111;
    background: #ffffff;
    font-size: 14px;
    animation: none;
}
.animate-label textarea.empty,
.animate-label input.empty {
    border: 1px solid red;
}
.animate-label textarea.empty + label,
.animate-label input.empty + label {
    color: red;
}
/*feature section css End*/

/*courses section css start*/
.courses-section {
    padding: 50px 0px;
    background-color: #f9f9f9;
}
.course-items-wrapper {
    margin-bottom: 30px;
    transition: all .5s ease;
}
.course-item-outer {
    box-shadow: 2px 5px 3px #cccccc;
    background: #fff;
    margin-right: 30px;
}
.course-item__img-outer {
    display: block;
}
.course-info__tag-outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.course-item__info-outer {
    padding: 15px 10px;
}
.course-info__tag-inner {
    background: #e5e1e1;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    padding: 7px 15px;
    border-radius: 30px;
    margin-bottom: 0px;
    transition: all .5s ease;
}
.course-info__tag-inner:hover{
    background: var(--primary);
    color: #fff;
}
.course-item__info-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    display: inline-block;
    color: #000;
}
.course-item__info-text {
    font-size: 14px;
    line-height: 1.6;
    color: #6c6c6c;
    margin-bottom: 0;
}
.course-item-bottom {
    padding: 10px;
    border-top: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-bottom-btn-link {
    display: inline-block;
    background: linear-gradient(#0165bb, #012861);
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding: 5px 10px;
    border-radius: 30px;
}
.course-bottom-btn-link:hover {
    color: #fff;
}
.course-bottom-btn-link.take-course {
    background: #0165bb;
}
.course-sec__bottom {
    text-align: center;
}
.course-sec__bottom-text {
    font-size: 14px;
    line-height: 1.6;
    color: #6c6c6c;
    margin-bottom: 20px;
}
.course-sec__bottom-btn-link {
    font-size: 15px;
    font-weight: 600;
    line-height: unset;
    text-transform: capitalize;
    padding: 10px 30px;
    transition: .5s;
    position: relative;
    z-index: 1;
    border: 2px solid #012861;
    color: #000;
    display: inline-block;
    background: transparent;
}
.course-sec__bottom-btn-link:after {
    content: "";
    position: absolute;
    height: 0;
    width: 51%;
    background: linear-gradient(#0165bb, #012861);
    z-index: -1;
    transition: .5s;
    left: 0;
    top: 0;
}
.course-sec__bottom-btn-link:before {
    content: "";
    position: absolute;
    height: 0;
    width: 51%;
    background: linear-gradient(#0165bb, #012861);
    z-index: -1;
    transition: all .5s ease;
    right: 0;
    bottom: 0;
}
.course-sec__bottom-btn-link:hover::before,.course-sec__bottom-btn-link:hover::after{
    height: 100%;
}
.course-sec__bottom-btn-link:hover {
    color: #fff;
}
.course-items-wrapper .owl-nav button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    background: #ffffff!important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
    transition: all .5s ease;
    opacity: 0;
    outline: 0;
}
.course-items-wrapper:hover .owl-nav button{
    opacity: 1;
}
.course-items-wrapper .owl-nav button span{
    font-size: 25px;
    color: #000;
}
.course-items-wrapper .owl-nav button:hover{
    background: var(--primary)!important;
}
.course-items-wrapper .owl-nav button:hover span{
    color: #fff;
}
.course-items-wrapper .owl-nav .owl-next{
    right: 40px;
}
.course-items-wrapper .owl-nav .owl-prev{
    left: 40px;
}

.course-items-wrapper:hover .owl-nav .owl-next{
    right: -8px;
}
.course-items-wrapper:hover .owl-nav .owl-prev{
    left: -40px;
}
/*Popular courses section css End*/

/*Top industries section css start*/
 .top-industries-section {
    padding: 40px 0px;
}
.top-industries__item-outer{
    background-size: cover;
    margin-bottom: 30px;
    border-radius: 5px;
}
.top-industries__item-inner {    
    display: flex;
    box-shadow: 0 0 10px #cccccc;
    padding: 50px 30px;
    position: relative;
    z-index: 1;
    background: #ffffff;
    border-radius: 4px;
    transition: all .3s ease;
    align-items: center;
    justify-content: center;
}
.top-industries__item-outer i {
    font-size: 50px;
    color: #666666;
    display: flex;
    transition: all .3s ease;
    align-items: center;
    justify-content: center;
}
.top-industries__item-info-outer {
    padding-left: 15px;
}
.top-industries__item-info-title {
    color: #002147;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: all .3s ease;
}
.top-industries__item-info-text {
    color: #666666;
    transition: all .3s ease;
    text-transform: capitalize;
}
.top-industries__item-inner:hover {
    background: transparent;
    color: #ffffff;
    background-color: rgba(0,0,0,0.4);
}
.top-industries__item-inner:hover i {
    color: #ffffff;
}
.top-industries__item-inner:hover .top-industries__item-info-title {
    color: #ffffff;
}
.top-industries__item-inner:hover .top-industries__item-info-text {
    color: #ffffff;
}
/*Top industries section css End*/

/*Team scetion css start*/
.team-section {
    padding: 60px 0px;
    background: #f9f9f9;
}
.team__item-outer {
    display: block;
    position: relative;
    overflow: hidden;
    margin-right: 30px;
    width: 360px;
}
.team__item-img {
    border-radius: 10px;
    position: relative;
}
.team__item-info-outer {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    padding: 25px 30px;
    transition: all 800ms ease .35s;
    text-align: center;
    background: #ffffff;
}
.team__item-info-title {
    color: #002147;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all .3s ease;
}
.team__item-info-position {
    color: #0165bb;
    font-weight: 500;
    text-transform: uppercase;
}
.team__item-overlay {
    background: rgb(22 28 122 / 80%) none repeat scroll 0 0;
    width: auto;
    height: auto;
    text-align: center;
    padding: 0 20px;
    position: absolute;
    opacity: 1;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    transition: all 700ms ease .35s;
    transform: translate3d(0px, -110%, 0px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
}
.team__item-overlay-title {
    text-align: center;
    color: #ffffff;
    display: block;
    text-transform: capitalize;
    padding-top: 50px;
    font-size: 18px;
    font-weight: 500;
}
.team__item-overlay-text {
    text-align: center;
    color: #ffffff;
    line-height: 26px;
    font-size: 13px;
    font-weight: 400;
}
.team__item-overlay-btn-link {
    color: #007aff;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}
.team__item-overlay-social-icon {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.team__item-overlay-social-list-item {
    display: inline-block;
}
.team__item-overlay-social-list-item-link {
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    border-radius: 4px;
    margin: 5px 3px 0px;
    color: #002147;
}
.team__item-outer:hover .team__item-info-outer {
    transform: translate3d(0px, 120px, 0px);
    transition-delay: 0.3s;
}
.team__item-outer:hover .team__item-overlay {
    transform: translate3d(0px, 0, 0px);
    transition-delay: 0.3s;
}
.team-items-wrapper .owl-nav button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    background: #ffffff!important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
    transition: all .5s ease;
    opacity: 0;
    outline: 0;
}
.team-items-wrapper:hover .owl-nav button{
    opacity: 1;
}
.team-items-wrapper .owl-nav button span{
    font-size: 25px;
    color: #000;
}
.team-items-wrapper .owl-nav button:hover{
    background: var(--primary)!important;
}
.team-items-wrapper .owl-nav button:hover span{
    color: #fff;
}
.team-items-wrapper .owl-nav .owl-next{
    right: 40px;
}
.team-items-wrapper .owl-nav .owl-prev{
    left: 40px;
}

.team-items-wrapper:hover .owl-nav .owl-next{
    right: -8px;
}
.team-items-wrapper:hover .owl-nav .owl-prev{
    left: -40px;
}
/*Advisor section css End*/

/*video section css start*/
.video-section {
    padding: 120px 0px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
.video-section.shadow:after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .75;
    position: absolute;
    background: #002147;
    z-index: -1;
}
.video__top-title {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 600;
}
.video__top-title:before {
    content: "";
    position: absolute;
    background: var(--primary);
    height: 2px;
    width: 40px;
    bottom: 0;
    left: 50%;
    margin-left: -65px;
}
.video__top-title:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 45px;
    background: var(--primary);
    bottom: 0;
    left: 50%;
    margin-left: -10px;
}
.video__top-description {
    color: #ffffff;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 15px;
}
.video-overlay {
    display: inline-block;
    left: 50%;
    top: 50%;
    position: relative;
    margin: 0;
    padding-bottom: 35px;
}
.video-play-button {
    position: relative;
    color: #ffffff;
    width: 32px;
    display: inline-block;
    font-size: 40px;
    margin-top: 50px;
    box-sizing: content-box;
    z-index: 10;
    border-radius: 50%;
}
.video-play-button:hover {
    color: #ffffff;
}
.video-play-button:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 80px;
    height: 80px;
    background: var(--primary);  repeat scroll 0 0;
    z-index: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}
.video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 80px;
    display: block;
    left: 50%;
    top: 50%;
    background: var(--primary);  repeat scroll 0 0;
    transform: translate(-50%, -50%);
    transition: all 200ms;
    border-radius: 50%;
}
.video-play-button i {
    position: relative;
    margin-left: 3px;
    z-index: 3;
    display: block;
}
@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
/*video section css End*/

/*Review css start*/
.review-section {
    padding: 50px 0px;
    background: var(--primary);
}
.review-section .section__title {
    color: #fff;
}
.review-section .section__text {
    color: #fff;
}
.review__item-outer {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-right: 30px;
    padding: 30px;
    box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
    overflow: hidden;
    border-radius: 5px;
}
.review__item-img-inner {
    max-width: 400px;
    border-radius: 5px;
}
.review__item-info-outer {
    padding-left: 20px;
}
.review__item-info-description {
    position: relative;
    z-index: 1;
    color: #ffffff;
    line-height: 22px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
}
.review__item-info-title {
    color: #ffffff;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 0px;
}
.review__item-info-sub-title {
    color: #ddd;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.review__item-info-description:after {
    content: ",,";
    font-family: "Times New Roman";
    font-size: 180px;
    left: -7px;
    letter-spacing: -15px;
    opacity: 0.1;
    position: absolute;
    top: 70px;
    transform: rotate(180deg);
}
.review-items-wrapper .owl-nav button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    background: #ffffff!important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
    transition: all .5s ease;
    opacity: 0;
    outline: 0;
}
.review-items-wrapper:hover .owl-nav button{
    opacity: 1;
}
.review-items-wrapper .owl-nav button span{
    font-size: 25px;
    color: #000;
}
.review-items-wrapper .owl-nav button:hover{
    background: var(--primary)!important;
}
.review-items-wrapper .owl-nav button:hover span{
    color: #fff;
}
.review-items-wrapper .owl-nav .owl-next{
    right: 40px;
}
.review-items-wrapper .owl-nav .owl-prev{
    left: 40px;
}

.review-items-wrapper:hover .owl-nav .owl-next{
    right: -8px;
}
.review-items-wrapper:hover .owl-nav .owl-prev{
    left: -40px;
}
/*student review css end*/

/*Blog section css start*/
.blog-section{
    padding: 50px 0px;
}
.blog__item-outer {
    margin-bottom: 30px;
}
.blog__item-img-outer {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.blog__item-img-link img {
    position: relative;
    display: block;
    transition: all .35s ease;
    border-radius: 5px 5px 0 0;
}
.blog__item-date {
    position: absolute;
    z-index: 1;
    bottom: 15px;
    left: 15px;
    padding: 15px 20px;
    color: #158bf1;
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
}
.blog__item-date span {
    font-size: 40px;
    display: block;
    font-weight: 900;
}
.blog__item-info-outer {
    padding-top: 30px;
}
.blog__item-info-title {
    font-size: 18px;
    font-weight: 600;
    color: #002147;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.blog__item-info-description {
    color: #666666;
    line-height: 26px;
    font-size: 14px;
    font-weight: 400;
}
.blog__item-info-btn-link {
    color: #666666;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.blog__item-info-meta-outer {
    border-top: 1px solid #e7e7e7;
    margin-top: 15px;
    padding-top: 15px;
}
.blog__item-info-meta-outer ul{
    padding-left: 0;
    margin-bottom: 0;
}
.blog__item-info-meta-outer ul li {
    color: #666666;
    display: inline-block;
    margin-right: 10px;
    text-transform: uppercase;
}
.blog__item-info-meta-outer ul li a {
    color: #666666;
    display: inline-block;
    font-weight: 400;
}
.blog__item-date:after {
    content: "";
    position: absolute;
    background: #002147;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 7px;
}
.blog__item-outer:hover .blog__item-img-link img {
    transform: scale(1.2);
}
/*Blog section css End*/

/* Blog detsils section css start */
.blog-details-section {
    padding: 40px 0;
}

.blog-details__image-outer {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 15px;
    transition: all .5s ease;
}

.blog-details__post-date {
    position: absolute;
    z-index: 1;
    bottom: 15px;
    left: 15px;
    padding: 15px 20px;
    color: #158bf1;
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
}

.blog-details__post-date span {
    font-size: 40px;
    display: block;
    font-weight: 900;
}

.blog-details__post-date:after {
    content: "";
    position: absolute;
    background: #002147;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 7px;
}

.blog-details__image {
    border-radius: 5px;
    transition: all .5s ease;
}

.blog-details__image-outer:hover img {
    transform: scale(1.2);
}

.blog-details__info-title {
    font-size: 28px;
    font-weight: 600;
}

.blog-details__info-outer .blog__item-info-meta-outer {
    border-top: none;
    border-bottom: 1px solid #e7e7e7;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.blog-details__info-inner {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color: #4e4b4b;
}

.comments-area {
    margin-top: 50px;
}
.comments-area .comments-title h4 {
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 30px;
    padding-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
}
.comments-area .comments-lists .comment-item {
    margin-bottom: 30px;
}
.comments-area .comments-lists .comment-item .image {
    width: 100px;
    height: 100px;
    float: left;
}
.comments-lists .comment-item .image img {
    width: 80px;
    height: 80px;
}
.comments-area .comments-lists .comment-item {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.comments-lists .comment-item .comments-info {
    margin-bottom: 15px;
    color: #666666;
    font-size: 14px;
    font-weight: 400;
}
.comments-lists .comment-item .comments-info a {
    border: 1px solid #e7e7e7;
    color: #666666;
    padding: 2px 10px;
    font-size: 12px;
    margin-left: 14px;
    display: inline-block;
}
.comment-item .content h5 {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #002147;
}
.comment-item .content {
    display: table-cell;
}
.comments-info a i {
    margin-right: 5px;
}
.comment-item .content p {
    font-size: 14px;
}
.comments-item.reply {
    padding-left: 80px;
    display: table-cell;
}
.comments-item.reply .image {
    float: left;
    height: 100px;
    width: 100px;
}
.comments-item.reply .image img {
    width: 80px;
    height: 80px;
}
.comments-item.reply .comments-info {
    display: table-cell;
}
.comments-item.reply .comments-info h5 {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #002147;
}
.comments-item.reply .comments-info {
    margin-bottom: 15px;
    color: #666666;
    font-size: 14px;
    font-weight: 400;
}
.comments-item.reply .comments-info a {
    border: 1px solid #e7e7e7;
    color: #666666;
    padding: 2px 10px;
    font-size: 12px;
    margin-left: 14px;
    display: inline-block;
}
.comments-item.reply .comments-info p {
    font-size: 14px;
}
.comments-title {
    margin-bottom: 30px;
}
.comments-form h4 {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}
.contact-comments input {
    border: 1px solid #e7e7e7;
    border-radius: inherit;
    box-shadow: inherit;
    padding: 6px 12px;
    display: block;
    height: 55px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
}
.contact-comments textarea {
    border: 1px solid #e7e7e7;
    border-radius: inherit;
    box-shadow: inherit;
    min-height: 150px;
    font-size: 14px;
    padding: 6px 12px;
}
.comment-btn {
    margin-bottom: 0;
}
.comment-btn button {
    background: #0165bb;
    border: 1px solid transparent;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    padding: 15px 25px;
    margin-top: 20px;
    transition: all .4s ease;
}
/* Blog detsils section css End */

/*subscribe now section css start*/
.subscribe-section {
    padding: 80px 0;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.subscribe-section:after {
    content: "";
    position: absolute;
    background: #002147;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.75;
    z-index: -1;
}
.subscribe-section-content {
    margin-bottom: 30px;
}
.subscribe-section-content h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.subscribe-section-content p {
    color: #ffffff;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 15px;
}
.subscribe-form form {
    position: relative;
    z-index: 1;
}
.subscribe-form form input {
    padding: 15px 25px;
    min-height: 60px;
    width: 100%;
    border-radius: 30px;
    border: medium none;
    box-shadow: inherit;
}
.subscribe-form form button {
    background: var(--primary);
    border: medium none;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 0 30px;
    min-width: 60px;
    min-height: 50px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}
/*subscribe noe section css End*/

/*clients section css start*/
.client-section {
    padding: 50px 0;
}
.client__logo-item-outer {
    display: inline-block;
}
.client-items-wrapper {
    text-align: center;
}
.client__logo-item-inner {
    max-width: 160px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    opacity: 0.7;
    transition: all .5s ease;
}
.client__logo-item-inner:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    opacity: 1;
}
/*clients section css End*/

/*footer section css start*/
.footer-section {
    padding-top: 20px;
    background-color: #ffffff;
}
.footer-items .item {
    padding-right: 30px;
}
.footer-items .item img {
    margin-bottom: 30px;
    width: auto;
}
.footer-items .item p {
    color: #666666;
    line-height: 26px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 13px;
}
.footer-items .item .social-icon {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #cccccc;
}
.footer-items .item .social-icon ul li {
    display: inline-block;
}
.footer-items .item .social-icon ul li a {
    background: transparent;
    border: 1px solid #e7e7e7;
    font-size: 14px;
    line-height: 40px;
    color: #002147;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    margin-right: 5px;
    font-weight: 500;
    border-radius: 5px;
    transition: all .3s ease;
}
.footer-items .item .social-icon ul li a:hover {
    background: #002147;
    color: #ffffff;
    border: 1px solid transparent;
}
.footer-items .item-links {
    padding-right: 30px;
}
.footer-items .item-links .title {
    color: #002147;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: uppercase;
    z-index: 1;
    position: relative;
}
.footer-items .item-links ul li {
    display: block;
    margin-bottom: 21px;
}
.footer-items .item-links ul li a {
    color: #666666;
    padding-left: 15px;
    position: relative;
    display: inline-block;
    font-weight: 400;
    text-transform: capitalize;
    z-index: 1;
    font-family: "Open Sans",sans-serif;
    transition: all .3s ease;
}
.footer-items .item-links ul li a:before {
    content: "";
    position: absolute;
    height: 4px;
    width: 4px;
    top: 50%;
    left: 0;
    background: #666666;
    margin-top: -2px;
    border-radius: 50%;
}
.footer-popular-item {
    padding-right: 15px;
}
.footer-popular-item .title {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.footer-popular-item ul li {
    display: inline-flex;
    color: #666666;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
}
.footer-popular-item ul li .item-img {
    display: table-cell;
    width: 80px;
    padding-top: 5px;
}
.footer-popular-item ul li .item-img a {
    display: inline-block;
    color: #002147;
    font-weight: 400;
}
.footer-popular-item ul li .item-img a img {
    border-radius: 5px;
}
.footer-popular-item ul li .item-info {
    display: table-cell;
    padding-left: 20px;
    color: #837f7e;
    line-height: 26px;
}
.footer-popular-item ul li .item-info a {
    display: block;
    color: #002147;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    transition: all .3s ease;
}
.footer-popular-item ul li .item-info .meta-title {
    color: #666666;
    margin-top: 10px;
    display: inline-flex;
}
.footer-popular-item ul li .item-info .meta-title span {
    display: inline-block;
    text-transform: capitalize;
    margin-right: 5px;
}
.footer-popular-item ul li .item-info .meta-title a {
    color: #002147;
    display: block;
    transition: all .3s ease;
}
.footer-popular-item ul li .item-info a:hover {
    color: #ffb606;
}

/*footer bottom css start*/
.footer-bottom {
    border-top: 1px solid #e7e7e7;
    margin-top: 20px;
    padding: 20px 0;
}
.footer-bottom-content {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom-content .bottom-link {
    float: right;
}
.footer-bottom-content p {
    color: #666666;
    line-height: 40px;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 0;
}
.footer-bottom-content p a {
    color: #007aff;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-left: 4px;
}
.footer-bottom-content .bottom-link ul {
    margin-bottom: 0;
}
.footer-bottom-content .bottom-link ul li {
    display: inline-block;
}
.footer-bottom-content .bottom-link ul li a {
    color: #666666;
    position: relative;
    z-index: 1;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
}
.footer-bottom-content .bottom-link ul li .link {
    margin-left: 10px;
    display: inline-block;
    padding-left: 15px;
    font-weight: 400;
    line-height: 40px;
    position: relative;
    z-index: 1;
    color: #666666;
    text-transform: uppercase;
}
.footer-bottom-content .bottom-link ul li .link:before {
    content: "";
    position: absolute;
    height: 12px;
    width: 1px;
    background: #999999;
    left: 0;top: 15px;
}
    /*footer bottom css  End*/
/*footer section css End*/

/* About section css start */
.about-section {
    padding: 40px 0;
    background: #f9f9f9;
}

.about-info-wrapper {
    box-shadow: rgb(0 0 0 / 38%) 0px 3px 8px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
}

.about-info-img-inner {
    width: 40%;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

.about-info-outer {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}
/* About section css End */

/* Faq section css start */
.faq-section {
    padding: 40px 0;
    background: #f9f9f9;
}

.faq-info-wrapper .accordion-item {
    margin-bottom: 15px;
    border: 1px solid #0165bb;
}

.faq-info-wrapper .accordion-item .accordion-button {
    background: var(--primary);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.faq-info-wrapper .accordion-item .accordion-body {
    font-size: 15px;
    font-weight: 400;
    color: #000;
}
/* Faq section css End */

/* Contact section css start */
.contact-section {
    padding: 40px 0;
}

.contact-form-wrapper {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 12px 0 rgba(2, 2, 2, 0.16);
    -moz-box-shadow: 0 0 12px 0 rgba(2, 2, 2, 0.16);
    box-shadow: 0 0 12px 0 rgba(2, 2, 2, 0.16);
    border-radius: 0;
    margin-bottom: 20px;
}

.contact-form-wrapper .no-padding {
}

.contact-form {
    padding: 20px;
}

.contact-form-title {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin-bottom: 15px;
    text-align: center;
}

.contact-item-outer {
    padding-bottom: 15px;
}

.contact-item-outer label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 3px;
    color: #000;
}

.contact-item-outer input {
    height: 45px;
}

.contact-item-outer input:focus,.contact-item-outer textarea:focus {
    border: 1px solid var(--btn-bg);
    box-shadow: none;
}

.contact-form-btn-inner {
    border: none;
    background: var(--btn-bg);
    padding: 8px 20px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.contact-form-btn-outer {
    margin-top: 15px;
}

.contact-info-outer {
    background: var(--primary);
    padding: 30px;
    height: 100%;
}

.contact-info-title {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}

.contact-info__item-outer {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.contact-info__icon-outer i {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    transition: all .3s ease;
}

.contact-info__icon-outer {margin-right: 10px;}

.contact-info__text-inner {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    transition: all .5s ease;
}

.contact-info__text-inner:hover {
    color: #098dff;
}

.contact-info__icon-outer i:hover {
    background: var(--btn-bg);
}
/* Contact section css End */


@media screen and (max-width: 1024px){
    .header-main-top {
        display: none;
    }
    .nav-items-wrapper {
        flex-direction: column;
        position: fixed;
        right: -100%;
        top: 0;
        width: 50%;
        height: 100vh;
        background: #ffffff;
        z-index: 99;
        padding-top: 90px;
        padding-bottom: 90px;
        align-items: flex-start;
        padding-left: 5%;
        overflow-x: hidden;
        transition: all .4s ease;
        box-shadow: 0px 0px 32px #00000063;
    }
    .nav-toggle-btn {
        display: flex;
    }
    .nav-item-main {
        height: unset;
        display: block;
    }
    .item-has-submenu .nav-item-submenu {
        position: unset;
        visibility: visible;
        transform: scale(1);
        padding: 0;
        opacity: 1;
        background: transparent;
    }
    .item-has-mega-menu .nav-item-mega-menu {
        position: unset;
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        border-top: 0;
    }
    .nav-item-main.item-has-mega-menu {
        display: block;
        margin: 0px 8px 0px 20px;
        height: auto;
    }
    .item-has-mega-menu .nav-item-mega-menu {
        display: unset;
        background: transparent;
        padding-top: 14px;
    }
    .item-has-submenu .submenu-item-link {
        color: #000000;
    }
    .submenu-item:hover .submenu-item-link {
        padding-left: 0;
        color: #000000;
    }
    .mega-menu-has-submenu-item .link {
        color: #000000;
        display: unset;
    }
    .mega-menu-has-submenu-item .link:hover {
        color: #000000;
        padding: 0;
    }
    .nav-item-main {
        margin: 8px 20px;
    }
    .nav-item-mega-menu-item .title {
        color: #000000;
        margin-top: 8px;
    }
    .mega-menu-has-submenu-item {
        margin-bottom: 7px;
        padding-left: 19px;
    }
    .nav-item-mega-menu-item .title:after {
        content: "";
        position: absolute;
        height: 1px;
        width: 70px;
        display: block;
        background: #000000;
        bottom: 0;
        left: 0;
    }
    .nav-item-main-link:hover {
        color: #000000;
    }
    .menu-visible .nav-items-wrapper {
        right: 0;
    }
    .menu-visible .nav-toggle-btn .btn-inner:before {
        transform: rotate(45deg);
        top: 0;
    }
    .menu-visible .nav-toggle-btn .btn-inner:after {
        transform: rotate(-45deg);
        top: 0;
    }
    .menu-visible .nav-toggle-btn .btn-inner {
        border-color: transparent;
    }
    .home-silder-inner .silder-content {
        transform: translate(10%, 50%);
    }
    .home-silder-inner .silder-content .title {
        font-size: 40px;
        font-weight: 600;
    }
    .left-box-info .title {
        font-weight: 600;
        font-size: 35px;
    }
    .left-box-info .description {
        line-height: 30px;
    }
    .our-future .item-inner .item-icon i:before {
        margin-left: 0;
    }
    .popular-slider-items-inner:hover .owl-nav .owl-next,
    .advisor-slider-items-inner:hover .owl-nav .owl-next,
    .student-slider-items-inner:hover .owl-nav .owl-next {
        display: none;
    }
    .popular-slider-items-inner:hover .owl-nav .owl-prev,
    .advisor-slider-items-inner:hover .owl-nav .owl-prev,
    .student-slider-items-inner:hover .owl-nav .owl-prev {
        display: none;
    }
    .top-categori-items .item .item-link i:before {
        margin-left: 0;
    }
    .top-categori-items .item .item-link .item-info h4 {
        font-size: 17px;
    }
    .top-categori-items .item .item-link .item-info {
        padding-left: 11px;
        transform: translateY(10px);
    }
    .advisor-slider-item {
        margin-right: 10px;
        width: 427px;
    }
    .upcoming-event-heading .description {
        line-height: 24px;
        font-size: 13px;
    }
    .upcoming-event-item .item-image img {
        height: 100%;
    }
    .event-item .item-details .title {
        font-size: 18px;
    }
    .latest-news-item .news-item-info .title {
        font-size: 16px;
    }
    .pricing-item li {
        padding: 0 20px;
    }
    .google-maps {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 991px){
    .right-box-sidebar .right-box-info {
        margin-top: 25px;
    }
    .popular-slider-item {
        margin-right: 0;
    }
    .advisor-section-heading {
        margin-bottom: 30px;
    }
    .advisor-slider-item {
        width: 95%;
    }
    .video-section-heading .title {
        padding-bottom: 20px;
    }
    .upcoming-event-item {
        display: block;
    }
    .upcoming-event-item .item-image {
        padding-left: 0;
    }
    .event-item {
        padding: 0;
    }
    .upcoming-event-item .item-image img {
        border-radius: 5px 5px 0 0;
    }
    .upcoming-event-item .item-details {
    }
    .upcoming-event-item .pl-0 {
        padding-right: 0;
    }
    .subscribe-section-content h2 {
        letter-spacing: unset;
    }
    .footer-items .item {
        margin-bottom: 35px;
    }
    .footer-bottom {
        margin-top: 20px;
    }
    .footer-bottom-content {
        display: inline-block;
        text-align: center;
    }
    .footer-bottom-content .bottom-link {
        float: none;
    }
        /*edit profile responsive css*/
    .edit-profile-section .profile-image {
        margin-bottom: 30px;
    }
    .edit-profile-section .edit-info {
        border-right: inherit;
        padding-right: 15px;
        margin-bottom: 30px;
    }
    .edit-profile-section .update-password {
        padding-left: 15px;
    }
        /*login or register responsive css*/
    .login-social h4, .register-social h4 {
    margin-bottom: 15px;
    font-size: 14px;
    }
    .login-social, .register-social {
        margin-bottom: 15px;
    }
    .login-custom, .register-custom {
        border-left: inherit;
        padding-left: 15px;
    }
    .login-custom h4, .register-custom h4 {
        font-size: 16px;
    }
        /*about us responsive css*/
    .about-image {
        margin-bottom: 30px;
    }
    .about-image-content .title:after {
        left: 45px;
    }
    .faq-course-details-section .left-sidebar {
        margin-bottom: 30px;
    }
    .pricing-item {
        margin-bottom: 30px;
    }
    .left-sidebar-wrapper {
        margin-top: 30px;
    }
    .client-info {
        text-align: center;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 768px){
    .home-silder-inner .silder-content {
        transform: translate(50px, 50px);
    }
    .home-silder-inner .silder-content .title {
        font-size: 30px;
    }
        /*about us responsive css*/
    .item-icon {
        margin-bottom: 20px;
        text-align: center;
    }
    .content-item {
        display: block;
        text-align: center;
    }
    .chose-content-items .item-icon i {
        display: inline-block;
        margin: 0 auto;
    }
    .content-info a {
        text-align: center;
        justify-content: center;
    }
    .chose-content-heading h2 {
        text-align: center;
        width: 100%;
    }
    .chose-content-heading h2:before {
        left: 50%;
    }
    .chose-content-heading h2:after {
        left: 42%;
    }
    .course-details-info .course-meta {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .course-details-info .course-meta .item,
    .course-details-info .course-meta .item:first-child {
        border-left: none;
        border-bottom: 1px dashed #999999;
        margin-bottom: 25px;
        padding-bottom: 25px;
        width: 100%;
        text-align: center;
        padding-left: 20px;
        margin-left: 20px;
    }
    .course-details-info .course-meta .item:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .course-details-info .course-meta .author {
        flex-direction: column;
    }
    .course-details-info .course-meta .item a img {
        margin-right: 0;
    }
    .banner-title {
        font-size: 45px;
    }
    .course-details-info .tab-content ul li .item {
        display: block;
        margin-bottom: 15px;
    }
    .course-details-info .tab-content ul li .item:last-child {
        float: left;
        margin-bottom: 0;
        display: table-column-group;
    }
    .course-details-info .tab-content ul li .item a {
        display: table-cell;
    }
    .course-details-info .tab-content ul li .item span:first-child {
        display: inline-block;
        margin-bottom: 15px;
    }
    .blog-item-content .author-bio {
        display: block;
        text-align: center;
    }
    .blog-item-content .author-bio .image {
        display: block;
        width: 200px;
        margin: auto;
        margin-bottom: 20px;
    }
    .comments-item.reply {
        padding-left: 0;
    }
}
@media screen and (max-width: 620px){
   .chose-content-heading h2:after {
        left: 38%;
    }
}
@media screen and (max-width: 540px){
    .home-silder-inner .silder-content {
        transform: translate(30px, 15px);
    }
    .home-silder-inner .silder-content .title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .home-silder-inner .silder-content p {
        font-size: 14px;
        line-height: 21px;
    }
    .chose-content-heading h2:after {
        left: 35%;
    }
    .banner-title {
        font-size: 35px;
    }
    .blog-item-content .meta ul {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 414px){
   .home-silder-inner .silder-content {
        transform: translate(30px, 10px);
    }
    .home-silder-inner .silder-content .title {
        font-size: 16px;
        margin-bottom: 7px;
    }
    .home-silder-inner .silder-content p {
        font-size: 12px;
        line-height: 15px;
    }
    .home-silder-inner .silder-content .silder-content-btn {
        padding: 10px 20px;
    }
    .student-slider-items-inner .item {
        display: inline-block;
    }
    .student-slider-items-inner .item .item-img img {
        border-radius: 50%;
        margin-bottom: 15px;
    }
        /*login or register responsive css*/
    .lost-pass-link {
        width: auto;
        margin-top: 5px;
    }
    .chose-content-heading h2:after {
        left: 32%;
    }
    .more-btn {
        padding: 10px;
    }
}
@media screen and (max-width: 411px){
   .home-silder-inner .silder-content {
        transform: translate(30px, 10px);
    }
    .home-silder-inner .silder-content .title {
        font-size: 16px;
        margin-bottom: 7px;
    }
    .home-silder-inner .silder-content p {
        font-size: 12px;
        line-height: 15px;
    }
    .home-silder-inner .silder-content .silder-content-btn {
        padding: 10px 20px;
    }
    .student-slider-items-inner .item {
        display: inline-block;
    }
    .student-slider-items-inner .item .item-img img {
        border-radius: 50%;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 375px){
    .student-slider-items-inner .item {
        display: inline-block;
    }

    .student-slider-items-inner .item .item-img img {
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .home-silder-inner .silder-content {
        transform: translate(10px, 10px);
    }

    .home-silder-inner .silder-content .title {
        font-size: 13px;
        margin-bottom: 10px;
    }

    .home-silder-inner .silder-content p {
        line-height: 15px;
        font-size: 10px;
        margin-bottom: 0;
    }
    .chose-content-heading h2:after {
        left: 27%;
    }
}
@media screen and (max-width: 360px){
   .home-silder-inner .silder-content .silder-content-btn {
        font-size: 10px;
    }
    .chose-content-heading h2:after {
        left: 23%;
    }
}
@media screen and (max-width: 332px){
   .item-footer-btn a {
        padding: 5px 20px;
    }
}
@media screen and (max-width: 320px){
   .home-silder-inner .silder-content .silder-content-btn {
        padding: 10px 19px;
    }
    .home-silder-inner .silder-content .title {
        font-size: 12px;
        margin-bottom: 2px;
    }
    .home-silder-inner .silder-content p {
        line-height: 14px;
    }
    .chose-content-heading h2:after {
        left: 19%;
    }
}
/*Responsive css End*/
